/* 
    Document   : index
    Created on : 25/08/2012, 18:29:30
    Author     : Tavares
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-size: 16px;	
    font-family: Arial, Tahoma;
    color: white;
    background-color: black;
    font-style: normal;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
a:link,a:visited{
    color: white;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em
}

a:hover,a:active{
    color: red;
    text-shadow: black 0.1em 0.1em 0.2em
}

p.maintext{
    font-family: Segoe UI, Arial;
    font-size: 16px
}

button{
    cursor:pointer;
    border: 0px none;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
}

button.img{
    border: 0px none;
}


.gamemenu{
    padding-left: 10px;
    padding-right: 10px;
}